<div class="closelocation">
  </h1>Which location would you like to close?</h1>
</div>

<div class="each-card">
  {{#each restaurants}}
  
    <div class="close-location-card card" style="width: 35rem;">
      <ul class="list-group list-group-flush">
        <a href="/dashboard/confirm-closing/{{id}}">
        <li class="list-group-item"> Restaurant Number: {{id}}</li>
        </a>
        <li class="list-group-item">Address: {{address}}</li>
        <li class="list-group-item">City: {{city}}</li>
        <li class="list-group-item">Phone Number:{{phone}}</li>
        <li class="list-group-item">Email:{{email}}</li>
      </ul>
    </div>
  
  {{/each}}

</div>
