<h3 class="page-title"> Location </h3>
<ol class="page-list display">
  
    <article class="page ">
        <div class="title">
            <span class="location-name">{{location.city}}</span>
        </div>
        <div class="meta">
            <p>Restaurant Number {{location.id }} </p>
            <p>Address: {{location.address}} </p>
            <p>Phone Number: {{location.phone}}</p>
            <p>Email: {{location.email}}</p>
            <a href="mailto:headoffice@hmbrgr.com">Contact Management</a>
        </div>
    </article>
  
</ol>