<div class="container border border-dark p-3 rounded menu-list mt-5 p-2">
    <h3 class="text-center">Menu Items</h3>

    <div class="row border border-dark p-2 mb-1 rounded-top d-flex text-center">

        <div class="col col-md-2">
            Menu Item
        </div>
        <div class="col col-md-6">
            Description
        </div>
        <div class="col col-md">
            Price
        </div>
        <div class="col col-md">
            Available@
        </div>
        <div class="col col-md-1">
            Update
        </div>
    </div>
    <!-- insert each menu list -->
    {{#each menuItems as |menuItems|}}
    <div class="row border border-warning p-1 mt-1 menu-list d-flex text-center">

        <div class="col-lg-2">
            {{description}}
            </div>
        <div class="col-lg-6">
            {{ingredients}}
        </div>
        <div class="col-lg">
            ${{price}}
        </div>
        <div class="col-lg">
            {{location}}
        </div>
        <div class="col-lg-1">
            <button type="button" class="btn btn-outline-danger btn-sm"><a href="/single-menu/{{menu.id}}">{{menu.description.price}} Modify</a></button>
        </div>
    </div>
    {{/each}}
</div>

{{!-- 
<h1> you are now in the menu page</h1>
<h3> Menu Items</h3>
<ol class="menu-list">
  {{#each menuItems as |menuItems|}}
  <li class="menu-display">
    <article class="menu">
      <div class="title">
        <span>Menu Item:({{description}})</span>
      </div>
      <div class="meta">
        <p>Description: {{ingredients}}</p> 
        <p>price: ${{price}} available</p>
        <p>at</p>
        <p>Store Number: {{location}}</p>

      <a href="/single-menu/{{menu.id}}">{{menu.description.price}} Edit Menu Item</a>
      </div>
    </article>
  </li>
  {{/each}}
</ol> --}}

<script src="/javascript/updatemenu.js"></script>